<div *ngIf="pokemon" class="pokemon-card">
  
  <div class="pokemon-card-header">
    <h1>{{ pokemon.name }}</h1>
  </div>
  <div class="pokemon-card-body">
    <div class="pokemon-image">
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
    </div>
    <div class="pokemon-info">
      <span>Type:</span> <span class="value">{{ pokemon.types[0].type.name }}</span>
    </div>
    <div class="pokemon-info">
      <span>Height:</span> <span class="value">{{ pokemon.height }}</span>
    </div>
    <div class="pokemon-info">
      <span>Weight:</span> <span class="value">{{ pokemon.weight }}</span>
    </div>
  </div>
  <div class="pokemon-card-footer">
    <span>Pokédex ID: {{ pokemon.id }}</span>
  </div>
</div>
