<div class="card">
  <a [routerLink]="['/pokemons', pokemon.name]" class="content" routerLinkActive="active">
    <div class="top">
      <p>{{ pokemon.color }}</p>
      <div class="color" [style.background-color]="pokemon.color"></div>
    </div>
    <div class="middle">
      <div>
        <p>{{ pokemon.name }}</p>
      </div>
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}"/>
    </div>
    <div class="bottom">
      <div>
        <p>Type</p>
        <p>{{ pokemon.types[0].type.name }}</p>
      </div>
      <div>
        <p>Height</p>
        <p>{{ pokemon.height }}</p>
      </div>
      <div>
        <p>Weight</p>
        <p>{{ pokemon.weight }}</p>
      </div>
    </div>
  </a>
</div>
