<div class="container">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
      <p class="card__name">Mahiedine Ferdjoukh</p>
      <div class="grid-container">
        <div class="grid-child-posts">Développeur Full Stack</div>
      </div>
      <div class="contact-info">
        <p><i class="fa fa-phone"></i> +33755345979</p>
        <p><i class="fa fa-envelope"></i> mahieddine.ferdjoukh9&#64;gmail.com</p>
      </div>
      <ul class="social-icons">
        <li><a href="https://www.linkedin.com/in/mahiedineferdjoukh"><i class="fab fa-linkedin"></i></a></li>
      </ul>
      <button class="btn draw-border">Recrutez-moi !</button>
    </div>
  </div>
  