.header-container {
  display: grid;
  place-items: center;
  position: relative;
}

.header-search-bar {
  background: #71ff7d;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-left: 30px; 
  display: flex;
  align-items: center;
  position: relative;

  &:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
  }

  &:hover > .searchButton {
    background: white;
    color: #2f3640;
  }
}

.searchButton {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #7b8088;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

  .material-icons {
    font-size: 24px;
  }
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .header-search-bar:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
