.pokemon-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9f9;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 1200px; /* Ajuster la largeur maximale selon tes besoins */
	margin: auto;
  }
  
  .pokemon-header {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
  }
  
  .pokemon-image {
	width: 400px; /* Ajuster la taille de l'image selon tes besoins */
	height: auto; /* Ajuster la hauteur de l'image selon tes besoins */
	border-radius: 10px;
	object-fit: cover;
	margin-right: 20px;
  }
  
  .pokemon-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .pokemon-info h1 {
	margin: 0;
	font-size: 2.5em; /* Ajuster la taille de la police selon tes besoins */
  }
  
  .pokemon-info p {
	margin: 5px 0;
	font-size: 1.2em; /* Ajuster la taille de la police selon tes besoins */
  }
  
  .pokemon-stats {
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .pokemon-abilities,
  .pokemon-weaknesses {
	width: 100%;
	margin-top: 20px;
  }
  
  .pokemon-abilities h2,
  .pokemon-weaknesses h2 {
	margin: 10px 0;
	font-size: 1.5em; /* Ajuster la taille de la police selon tes besoins */
  }
  
  ul {
	list-style-type: none;
	padding: 0;
  }
  
  li {
	background: #e0e0e0;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
  }
  