<div class="landing-page">
  <app-types-section></app-types-section>

  <section class="featured-section">
    <h2>Pokémon en Vedette</h2>
    <div class="featured-list">
      <div *ngFor="let pokemon of featuredPokemons" class="featured-card">
        <app-pokemon [pokemon]="pokemon"></app-pokemon>
      </div>
    </div>
  </section>


  <section class="recent-searches-section" *ngIf="recentSearches.length">
    <h2>Dernières Recherches</h2>
    <div class="recent-searches-list">
      <div *ngFor="let pokemon of recentSearches" class="recent-search-card">
        <app-pokemon [pokemon]="pokemon"></app-pokemon>
      </div>
    </div>
  </section>
</div>
