.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url('../assets/background_picture.jpg') no-repeat center center;
  background-size: cover;

  img {
    margin-top: 20px;
    max-width: 300px;
  }

  .landing-links {
    margin-top: 20px;
    button {
      background-color: #6c757d;
      border: none;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 1.2em;
      color: white;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #5a6268;
      }
    }
  }
}
