.landing-page {

  .header {
    background: linear-gradient(135deg, #1565c0, #1976d2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h1 {
      color: #ffffff;
      font-size: 2.5em;
    }

    p {
      color: #ffffff;
      font-size: 1.2em;
    }
  }

  section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    h2 {
      color: #ffffff;
      margin-bottom: 15px;
    }
  }

  .types-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
      background: #1e88e5;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      margin: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background 0.3s, transform 0.3s;

      &:hover {
        background: #1976d2;
        transform: translateY(-2px);
      }
    }
  }

  .featured-list, .recent-searches-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

}

.landing-page {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}


