<div class="landing-page">
  <header class="header">
    <h1>Bienvenue dans Pokémons</h1>
    <p>Recherchez et découvrez des informations sur vos Pokémon préférés!</p>
  </header>

  <section class="types-section">
    <h2>Explorez par Type</h2>
    <div class="types-list">
      <button *ngFor="let type of pokemonTypes" (click)="navigateToType(type)">
        {{ type.name }}
      </button>
    </div>
  </section>

  <section class="featured-section">
    <h2>Pokémon en Vedette</h2>
    <div class="featured-list">
      <div *ngFor="let pokemon of featuredPokemons" class="featured-card">
        <app-pokemon [pokemon]="pokemon"></app-pokemon>
      </div>
    </div>
  </section>


  <section class="recent-searches-section" *ngIf="recentSearches.length">
    <h2>Dernières Recherches</h2>
    <div class="recent-searches-list">
      <div *ngFor="let pokemon of recentSearches" class="recent-search-card">
        <app-pokemon [pokemon]="pokemon"></app-pokemon>
      </div>
    </div>
  </section>
</div>
